/*Partie présentation du GBAF*/

.imageGBAFPresentationDiv{
    display: flex;
    flex-direction: row;
}
.imgGBAFPres{
    margin: auto;
    max-height: 250px;
    max-width: 350px;
}
/*Partie acteur*/
.partie2Acteur{
    display: flex;
    flex-direction: column;
}
.partieActeurDiv{
    height: 130px;
    width: 100%;
    border: 1px solid grey;
    border-radius : 5px;
    margin-top: 1%;
    display: flex;
    background-color : rgba(111,111,111,0.250);

}
.partieGaucheLogo {
    width: 23%;
    height: 99%;
}
.contenerImage {
    height: 100%;
    margin-left : 3%;
    display: flex;
    align-items: center;
}
.contenerImage img {
    max-width: 80%;
    max-height: 100%;
}
.partieDroitePres{
    width: 77%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;

}
.contentLien{
    width: 13%;
    align-self: flex-end;
    margin-right: 1%;
    margin-bottom: 1%;
}
.partieDroitePres p{
    margin-top:0;
}
.lienActeur{
    display: block;
    width: 100%;
    border: 1px solid rgba(138, 138, 138, 0.822);
    border-radius: 5px;
    text-decoration: none;
    background-color: rgba(145, 142, 142, 0.822);
    color: black;
    text-align: center;
}

@media all and (min-width: 680px) and (max-width: 980px){
    .textGBAFPres p, .partie1Acteur p{
        text-align: center;
        margin: auto;
        width: 80%;
    }
    .partieActeurDiv {
        height: 140px;
    }
    .contenerImage img {
        max-width: 100%;
        max-height: 80%;
    }
    .contentLien{
        width: 16%;
    }
}
@media all and (max-width: 680px){
    .textGBAFPres p, .partie1Acteur p{
        text-align: center;
        margin: auto;
        width: 80%;
    }
    .partieActeurDiv{
        height: 270px;
        display: flex;
        flex-direction: column;
    }
    .partieGaucheLogo{
        width : 100%;
    }
    .contenerImage {
        width: 100%;
        margin: 0;
        justify-content: center;
    }
    .partieDroitePres{
        width: 95%;
        margin: auto;
    }
    .contentLien{
        width: 20%;
        align-self: center;
    }


}
