body{
    border: 2px solid red;
    height: 800px;
    background-color: rgba(230, 230, 230, 0.815);
}
/*Titre de page + shot description*/
header{

    text-align: center;
}
/*Form at page's center whose the title is defining goal*/
.divForm{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 450px;
    margin: auto;
    border: 1px solid grey;
}
.divForm h2{
    width: 100%;
    height: 10%;
    margin-top: 2%;
    text-align: center;
}
form{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userNameDiv, .secretQuestionDiv, .secretQuestionAnswer, .passwordDiv, .submitDiv{
    width: 50%;
    height: 18%;/*Comprendre pourquoi cette hauteur précise*/
}
form > div > input, form > div > select{
    width: 100%;
    height: 70%;
    border-radius: 5px;
}
/*content submit button*/
.submitDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(230, 230, 230, 0.815);
}
.submitDiv a, .submitDiv button{
    height: 30%; /*Comprendre pourquoi button et a pas la même hauteur malgrès ce css*/
}
.submitDiv button{
    margin-right: 1%;
    color: white;
    background-color: darkblue;
    border: 2px solid darkblue;
    border-radius: 3px;
}
.submitDiv a{
    margin-right: 3%;
    text-decoration: none;
    border: 2px solid rgba(178,178,178, 0.4);
    border-radius: 3px;
    background-color: rgba(178,178,178, 0.4);
    color: black;
}

